.contenedor {
    display: grid;
    justify-items: center;    
    margin: auto;
    width: 60%;
    /* height: 70vh; */
    grid-template-areas:
        "h1 h1"
        "img p"
        "img h3"
        "img count";
    grid-template-rows: 1fr 5fr fr fr;
    grid-template-columns: 3fr 1fr; 
    padding-bottom: 175px   
  }
  
  .contenedor > h1 {
    grid-area: h1;
    

  }
  
  .contenedor > img {
    grid-area: img;
    max-width: 100%;
    max-height: 100%; 
       
  }
  
  .contenedor > p {
    grid-area: p;
    font-size: 25px;
  }
  
  .contenedor > h3 {
    grid-area: h3;  
      
  }

  .contenedor > .count {
    grid-area: count;    
  }