header{
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style:none;    
}
nav ul li{
    padding: 15px;
    font-size: 15pt;
}
a{
    text-decoration: none;
}